@tailwind base;
@tailwind components;
@tailwind utilities;



thead th{
    background-color: rgb(8, 231, 8);
    color: white;
    padding: 10px 15px 10px 15px;
    text-align: start;
    font-weight: bold;
    font-size: 14px;

}




table td{
    padding: 10px 15px 10px 15px;
    color: rgb(106, 104, 104);
    font-size: 14px;
}